.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
dist

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
.installed.cfg
*.manifest
*.spec

# Installer logs
debug.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# Frappe/ERPNext specific
sites/

# OS files
Thumbs.db

# Custom
*.log
